* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  background: #f5f5f5;
}

.app-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.mobile-container {
  width: 375px;
  peak-height: 812px;
  height: 100%;
  background: #f7f8f9;
  border: solid 1px #d1d1d1;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 8px;
}

.subtitle {
  color: #6b6b6b;
  margin-bottom: 24px;
}

.btn-primary {
  width: 100%;
  height: 46px;
  background: #6c25ff;
  border-radius: 6px;
  border: none;

  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 12px;
  cursor: pointer;
}

.btn-secondary {
  width: 100%;
  height: 46px;
  background: #6c25ff4b;
  border-radius: 6px;
  border: none;

  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  color: #1d2226;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 10px;
  cursor: pointer;
}

.btn-disabled {
  width: 100%;
  height: 46px;
  border: none;
  border-radius: 6px;

  background: #cbcbcb;
  color: #ffffff;

  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;

  cursor: not-allowed;
}

.title {
  font-size: 28px;
  font-weight: 500;
  color: #1d2226;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #1d2226;
  opacity: 0.6;
  margin-bottom: 24px;
}

.button-text {
  font-size: 16px;
  font-weight: 500;
}

.form-group {
  position: relative;
  margin-top: 22px;
}

.input-field {
  width: 100%;
  height: 40px;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  padding: 12px 12px 8px 12px;

  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: #1d2226;

  background: transparent;
}

.input-label {
  position: absolute;
  top: -8px;
  left: 12px;

  font-family: "Rubik", sans-serif;
  font-size: 13px;
  color: #6c25ff;

  background: #f7f8f9;
  padding: 0 4px;
}

.required {
  color: #dd4a3d;
}

.input-field::placeholder {
  color: #1d2226;
  opacity: 0.7;
}

.form-question {
  font-size: 13px;
  margin-top: 20px;
}

.radio-group {
  display: flex;
  gap: 22px;
  margin-top: 10px;
}

.radio-group input {
  accent-color: #6c25ff;
}

.profile-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-header {
  height: 68px;
  background: #ffffff;

  display: flex;
  align-items: center;
  padding-left: 15px;

  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: #1d2226;
  margin-top: -24px;
  margin-left: -24px;
  margin-right: -24px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding-top: 24px;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar-wrapper {
  position: relative;
}

.profile-avatar {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  object-fit: cover;
}

.camera-icon {
  position: absolute;
  bottom: -2px;
  right: -2px;

  width: 21px;
  height: 23px;
}

.profile-name {
  font-size: 15px;
  font-weight: 500;
  color: #1d2226;
}

.profile-email {
  font-size: 14px;
  color: #1d2226;
}

.profile-description {
  margin-top: 20px;

  font-size: 14px;
  line-height: 22px;
  color: #1d2226;
}

.profile-divider {
  margin-top: 20px;
  border-top: 1.5px dashed #cfcfcf;

  margin-left: -24px;
  margin-right: -24px;
}

.profile-spacer {
  flex: 1;
}
